.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3e1554;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  background-color: red;
  min-height: 800px;
  min-width: 1000px;
  width: 80%;
  border-color: #9d52c5;
  border-style: solid;
  border-width: 1em 1em 1em 1em;
  padding-left: 12px;
}

.aceRow {
  background-color: rgb(87, 40, 40);
  min-height: 10rem;
  max-width: 640px;
  width: 90%;
  margin-left: 2em;
  border-width: 1em;
  border-style: double;
  border-color:aliceblue
}


.reset_btn{
  background-color: rgb(150, 10, 10);
  min-height: 4rem;
  max-width: 240px;
  min-width: 160px;
  width: 20%;
  margin-right: 2em;
  border-width: 1em;
  border-style: double;
  border-color: brown
  
}


.playRow {
  max-width: 80%;
}


.column1 {
  /*width:10%;
  height: 8em;
  */
  width:1em;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  padding-top:4rem;
  margin-left:1rem;
  margin-right:1rem;
}


.aceColumn {
  /*width:10%;
  height: 8em;
  */
  padding-top:1rem;
  padding-right:1rem;
  margin-left:0.5rem;
  margin-right:0.5rem;
  padding-bottom:1rem;
}


.myCard {
  height: 8rem;
  margin-top:4rem;
  /*margin-bottom:0;*/
  grid-area: 1 / 1 / 2 / 2
}

.myCardAce {
  height: 8rem;
  /*margin-top:1rem;
  /*margin-bottom:0;*/
}



.selectedCard {
  height: 8rem;
  margin-top:4rem;
  /*margin-bottom:0;*/
  grid-area: 1 / 1 / 2 / 2;
  border: .15rem solid rgb(12, 148, 30)
}

